body {
background: linear-gradient(to right, #ec7267, #F99256, #edb277, #FBDF9C);
display: flex;
justify-content: center;
}
img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    object-fit: cover;
    padding: 20px;
    margin-top: 30px;
}
.container {
    background-color: #ec7267b0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vh;
    height: 100vh;
    
}
h1 {
    color: #931206;
    font-size: 40px;
    font-style: italic;
}
a {
    border-radius: 50px;
    background-color: #f3b2ac;
    color: #780f05;
    padding: 20px;
    width: 200px;
    margin: 15px;
    text-align: center;
}
.links {
display: flex;
align-items: center;
flex-direction: column;
}