body {
background: linear-gradient(to right, #ec7267, #F99256, #eeac6a, #FBDF9C);
display: flex;
justify-content: center;
font-family:Georgia, 'Times New Roman', Times, serif;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 50px;
}
.container {
    background-color: #ec7267a2;
    /* Semi-transparent to add depth and let gradient show through*/
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #F99256;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    max-width: 70vw;
    min-height: 90vh;
    
}
h1 {
    color: #931206;
    font-size: 32px;
    font-style: italic;
}
.short-text {
 color:#781108;
 font-size: 16px;
 margin-top: 1px;
}
a {
    border-radius: 10px;
    background-color: #f5dbc4;
    box-shadow: 0 4px 8px 0 #F99256;
    color: #e44537;
    text-decoration: none;
    padding: 20px;
    width: 280px;
    margin: 15px;
    text-align: center;
    display: block;
}
a:hover {
    background-color: #fbcfcb;
    transform: scale(1.01);
}
.links {
display: flex;
align-items: center;
flex-direction: column;
}
footer {
    font-size: 10px;
    padding-top: 18px;
    color: #f4b2ac;
}